.wrapper {
    position: absolute;
    width: 0; /* начальная ширина */
    top: 0;
    left: 0;
    background-color: #22262b;
    height: 100vh;
    z-index: 11;
    overflow: hidden;
    transition: width 0.5s ease, left 0.5s ease;
}

.wrapperActive {
    width: 350px;
}

.switch {

    left : 0;
    position: absolute;
    border-radius: 5px;
    height: 20px;
    padding: 5px;

    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    transition: all 0.5s ease;
}

.switchActive {
    left: 320px;
    transform:  rotate(180deg);
}
